{% extends "base_template.html" %}

{% block extra_head %}
<link rel="stylesheet" href="static/styles/login_signup_styles.css">
{% endblock %}

{% block content %}
{% if alert_message %}
<div class="alert alert-danger" role="alert">
    {{ alert_message }}
</div>
{% endif %}
<form class="row g-3 mx-auto login-form needs-validation" action="/login-autenticate" method="post" novalidate>
    <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Inserisci la tua email"
            required>
        <div class="invalid-feedback fw-bold">
            Inserisci una email valida.
        </div>
    </div>
    <div class="col-12">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password"
            placeholder="Inserisci la tua password" required minlength="8">
        <div class="invalid-feedback fw-bold">
            Inserisci una password valida (almeno 8 caratteri).
        </div>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Ricordami
            </label>
        </div>
        <small class="text-muted ms-2">Non sei ancora registrato? <a href="/signup">Registrati qui</a>.</small>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-feature">Login</button>
    </div>
</form>

<!-- Codice JS per la validazione del form, preso direttanente da BS 
     https://getbootstrap.com/docs/5.2/forms/validation/#custom-styles -->
<script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();
</script>
{% endblock %}